@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

.hero {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.hero__img, .hero__description {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1; }

.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 29px;
  height: 14px;
  margin-bottom: 40px; }

.best {
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 5.5rem; }

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.advantage {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 20px;
  max-width: 300px; }

.advantage__image {
  margin: auto;
  margin-bottom: 30px; }

.advantage__heading {
  font-family: 'Lifehack', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
  text-align: center; }

.advantage__description {
  color: rgba(47, 50, 52, 0.8);
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center; }

.team {
  height: 100vh;
  background: url(../img/team.png);
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(49, 52, 54, 0.93);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.team__content {
  margin-left: 80px; }

.team__title {
  color: #f9b43b;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 64px; }

.team__name {
  color: white;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  padding-left: 20px;
  cursor: pointer;
  position: relative; }
  .team__name::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    border: 5px solid transparent;
    border-width: 5px 5px 5px 5px;
    border-top-color: #f9b43b; }

.team__about {
  margin-left: 20px; }

.team__occupation {
  color: white;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px; }

.team__text {
  color: white;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px; }

.team__avatar {
  background: url(../img/aphex.png);
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover; }

.team__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 350px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-top: 15px;
  height: 0; }

.team__item--active .team__description {
  height: 140px; }

.team__item--active .team__name {
  color: #f9b43b; }
  .team__item--active .team__name::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    border: 5px solid transparent;
    border-width: 5px 5px 5px 5px;
    border-bottom-color: #f9b43b; }

.menu {
  background: url(../img/bg/menu_bg.png) no-repeat;
  background-size: cover; }

.menu__container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__heading {
  position: absolute;
  top: 110px;
  left: 95px;
  font-size: 72px;
  line-height: 64px;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  color: white; }

.menu__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute; }

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.menu__title {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 80px;
  cursor: pointer; }

.menu__title--meat {
  background: url(../img/bg/meat_bg.png);
  background-size: cover; }

.menu__title--vegan {
  background: url(../img/bg/vegan_bg.png);
  background-size: cover; }

.menu__title--diet {
  background: url(../img/bg/diet_bg.png);
  background-size: cover; }

.menu__name {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 64px;
  color: white;
  text-align: center; }

.menu__occupation {
  width: 0;
  overflow: hidden;
  background: rgba(53, 54, 55, 0.93);
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300; }

.menu__text {
  padding: 61px 35px 50px 34px; }

.menu__item--active .menu__occupation {
  width: 540px; }

.reviews__container {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.review {
  width: 25%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  min-height: 325px; }
  .review:hover .reviews__wrap {
    opacity: 1; }

.review__more {
  display: block; }

.review__img {
  position: absolute;
  display: block;
  width: 100%; }

.reviews__wrap {
  opacity: 0;
  padding: 41px 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(14, 14, 14, 0.7);
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out; }

.review__name {
  font-size: 14px;
  line-height: 28px;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  color: #fff; }

.review__desc {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #fff; }

.review__more {
  width: 111px;
  height: 35px;
  background-color: #2f3234;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 3px 15px;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out; }
  .review__more:hover {
    background-color: #1f2122; }

.form {
  background: url(../img/bg/form_bg.png) center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.form__heading {
  font-size: 72px;
  line-height: 64px;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  color: #f9b43b; }

.form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.form__side {
  width: 50%; }
  .form__side:last-child {
    margin-left: 20px; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.form__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }

.form__elem {
  width: 100%; }

.form__block--title {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: white;
  display: inline-block;
  position: relative; }

.form__text-area {
  width: 100%;
  height: 110px;
  border: none;
  border-radius: 5px;
  padding: 8px; }

.form__clear {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 20px;
  text-decoration: none; }

.contacts {
  background: url(../img/bg/contacts_bg.png) center center no-repeat;
  background-size: cover;
  position: relative; }

.footer {
  background: url(../img/bg/footer_bg.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; }

.container__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.contacts__adress {
  display: block; }

.contacts__phone {
  display: block; }
