@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 40.625rem; }

.container {
  position: relative;
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  background-color: rgba(0, 0, 0, 0.31);
  width: 100%;
  height: 100vh;
  min-width: 58.75rem;
  min-height: 40.625rem; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.hero {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem; }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none; } }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.hero__img,
.hero__description {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 1; }

.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.8125rem;
  height: 0.875rem;
  margin-bottom: 2.5rem; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.best {
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 5.5rem; }

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.advantage {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 1.25rem;
  max-width: 18.75rem; }

.advantage__image {
  margin: auto;
  margin-bottom: 1.875rem; }

.advantage__heading {
  font-family: 'Lifehack', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
  text-align: center; }

.advantage__description {
  color: rgba(47, 50, 52, 0.8);
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center; }

.advantage__image--img {
  width: 5.3125rem;
  height: 5.3125rem; }

.team {
  height: 100vh;
  background: url(../img/team.png);
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(49, 52, 54, 0.93);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.team__content {
  margin-left: 5rem; }

.team__title {
  color: #f9b43b;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  line-height: 4rem; }

.team__name {
  color: white;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  padding-left: 1.25rem;
  cursor: pointer;
  position: relative; }
  .team__name::before {
    content: "";
    display: block;
    position: absolute;
    top: 0.4375rem;
    border: 0.3125rem solid transparent;
    border-width: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
    border-top-color: #f9b43b; }

.team__about {
  margin-left: 1.25rem; }

.team__occupation {
  color: white;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.5rem; }

.team__text {
  color: white;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem; }

.team__avatar {
  background: url(../img/aphex.png);
  height: 6.25rem;
  min-width: 6.25rem;
  border-radius: 50%;
  background-position: center center;
  background-size: cover; }

.team__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 21.875rem;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-top: 0.9375rem;
  height: 0; }

.team__item--active .team__description {
  height: 8.75rem; }

.team__item--active .team__name {
  color: #f9b43b; }
  .team__item--active .team__name::before {
    content: "";
    display: block;
    position: absolute;
    top: 0.125rem;
    border: 0.3125rem solid transparent;
    border-width: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
    border-bottom-color: #f9b43b; }

.menu {
  background: url(../img/bg/menu_bg.png) no-repeat;
  background-size: cover; }

.menu__container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__heading {
  position: absolute;
  top: 6.875rem;
  left: 5.9375rem;
  font-size: 4.5rem;
  line-height: 4rem;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  color: white; }

.menu__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute; }

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.menu__title {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 5rem;
  cursor: pointer; }

.menu__title--meat {
  background: url(../img/bg/meat_bg.png);
  background-size: cover; }

.menu__title--vegan {
  background: url(../img/bg/vegan_bg.png);
  background-size: cover; }

.menu__title--diet {
  background: url(../img/bg/diet_bg.png);
  background-size: cover; }

.menu__name {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
  color: white;
  text-align: center; }

.menu__occupation {
  width: 0;
  overflow: hidden;
  background: rgba(53, 54, 55, 0.93);
  color: white;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  max-height: 100vh; }

.menu__text {
  padding: 3.8125rem 2.1875rem 3.125rem 2.125rem; }

.menu__item--active .menu__occupation {
  width: 33.75rem; }

.reviews {
  background: #000; }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.review {
  position: relative;
  width: 100%;
  height: 100%; }
  .review:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .review:hover .review__hover {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .review:hover:after {
    background: rgba(20, 20, 20, 0.7); }

.review__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.review__hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  padding: 17% 12% 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .review__hover {
      font-size: 0.875rem;
      padding: 0 12%;
      text-align: center; } }

.review__title {
  color: #fff;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 0.875rem;
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .review__title {
      margin-bottom: 0.875rem; } }

.review__shorttext {
  color: #ffffff;
  font-size: 0.875rem;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 0.8125rem; }
  @media screen and (max-width: 480px) {
    .review__shorttext {
      display: none; } }

.review__view {
  border-radius: 0.3125rem;
  background-color: #2f3234;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .review__view:hover {
    background-color: #1f2122; }

.order {
  background: url("../img/bg/form_bg.png") 50% no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .order .section__title {
    text-align: center; }

.order__form {
  margin-left: -5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.order__form-col {
  width: 45%;
  margin-left: 5%; }

.order__form-row {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.order__form-label {
  margin-bottom: 1.0625rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 0.875rem; }

.order__form-input {
  font-size: 0.875rem;
  padding: 0.625rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #d1cfcb;
  border-radius: 0.3125rem;
  width: 100%; }

.order__form-block {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 0.625rem; }

.order__form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.625rem; }

.order__form-input_textarea {
  height: 6.875rem;
  resize: none; }

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 1.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.order__radio-elem {
  position: absolute;
  top: 0;
  left: -624.9375rem; }

.order__radio-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative; }
  .order__radio-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: #e45028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.order__radio-elem:checked + .order__radio-fake:after {
  width: 0.5rem;
  height: 0.5rem; }

.order__radio-title {
  font-size: 0.875rem;
  color: #fff;
  margin-left: 0.625rem; }

.order__radio_checkbox .order__radio-fake {
  border-radius: 0rem; }

.order__radio_checkbox .order__radio-elem + .order__radio-fake:after {
  background: transparent; }

.order__radio_checkbox .order__radio-elem:checked + .order__radio-fake:after {
  background: url("../img/check.svg") 50% no-repeat transparent;
  background-size: contain;
  width: 0.6875rem;
  height: 0.5625rem; }

.order__form-button {
  margin-right: 1.25rem;
  border: 0;
  background: #e45028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  color: #ffffff;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  padding: 0.625rem 0.9375rem;
  cursor: pointer; }

.order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent; }

.contacts {
  background: url(../img/bg/contacts_bg.png) center bottom no-repeat;
  background-size: cover;
  position: relative; }

.footer {
  background: url(../img/bg/footer_bg.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.container__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.contacts__content {
  width: 50%;
  margin-bottom: 0.9375rem;
  margin-top: 0.625rem; }

.footer__address {
  color: #ffffff;
  font-size: 0.875rem; }

.contacts__phone {
  color: #e45028;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-decoration: none;
  font-size: 0.875rem;
  display: block; }

.contacts__content--right {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.socials {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.socials__item {
  margin-left: 0.625rem; }

.socials__link {
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .socials__link:hover {
    opacity: 1; }

.socials__link-icon {
  width: 1.25rem;
  height: 1.25rem; }

.contacts__link-phone {
  width: 0.75rem;
  height: 0.6875rem; }
