.contacts {
    background: url(../img/bg/contacts_bg.png) center bottom no-repeat;
    background-size: cover;
    position: relative;
}

.footer {
    background: url(../img/bg/footer_bg.png) center center no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.container__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include phones {
        flex-direction: column;
    }
}

.contacts__content {
    width: 100%;
    margin-bottom: rem(15px);
    margin-top: rem(10px);
    @include phones {
        text-align: center;
    }
}

.contacts__adress {
    color: #ffffff;
    font-size: rem(14px);
}

.contacts__phone {
    color: #e45028;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-decoration: none;
    font-size: rem(14px);
    display: block;
}

.contacts__content--right {
    text-align: right;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    @include phones {
        text-align: center;
        justify-content: center;
    }
}

.socials {
    position: relative;
    top: 50%;
    display: flex;
    align-items: center;
}

.socials__item {
    margin-left: rem(10px);
}

.socials__link {
    display: inline-block;
    max-width: rem(23px);
    max-height: rem(20px);
    opacity: .3;
    transition: .3s;
    &:hover {
        opacity: 1;
    }
}

.socials__link-icon {
    width: rem(20px);
    height: rem(20px);
}

.contacts__link-phone {
    width: rem(12px);
    height: rem(11px);
}