.form {
    background: url(../img/bg/form_bg.png) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__heading {
    font-size: 72px;
    line-height: 64px;
    font-family: 'Gagalin', Arial, Helvetica, sans-serif;
    color: #f9b43b;
}

.form__content {
    display: flex;
    flex-direction: row;
}

.form__side {
    width: 50%;
    &:last-child {
        margin-left: 20px;
    }
}

.form__row {
    display: flex;
    margin-bottom: 15px;
}

.form__input {
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

.form__block {
    flex-grow: 1;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}

.form__wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form__elem {
    width: 100%;
}

.form__block--title {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    position: relative;
}

.form__text-area {
    width: 100%;
    height: 110px;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.form__clear {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 20px;
    text-decoration: none;
}