.order {
    background: url("../img/bg/form_bg.png") 50% no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    .section__title {
        text-align: center;
        margin-bottom: rem(55px);
    }
}

.order__title {
    @include phones {
        font-size: rem(32px);
    }
}

.order__form {
    display: flex;
    @include tablets {
        flex-direction: column;
    }
}

.order__form-col {
    width: 47%;
    margin-left: 3%;
    @include tablets {
        width: 100%;
        margin-left: 0;
        padding: 0 15%;
    }
    @include phones {
        padding: 0 1%;
    }
}

.order__form-row {
    margin-bottom: rem(16px);
    display: flex;
}

.order__form-label {
    margin-bottom: rem(17px);
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: rem(14px);
}

.order__form-input {
    font-size: rem(14px);
    padding: rem(10px);
    padding: rem(5px) rem(10px);
    border: rem(1px) solid #d1cfcb;
    border-radius: rem(5px);
    width: 100%;
}

.order__form-block {
    display: block;
    width: 100%;
    flex: 1;
    margin-left: rem(20px);
}

.order__form-row {
    display: flex;
    margin-left: rem(-10px);
    @include phones {
        justify-content: center;
    }
}

.order__form-input_textarea {
    height: rem(110px);
    resize: none;
}

.order__radio {
    position: relative;
    white-space: nowrap;
    margin-right: rem(20px);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.order__radio-elem {
    position: absolute;
    top: 0;
    left: rem(-9999px);
}

.order__radio-fake {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    background: #fff;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: rem(0px);
        height: rem(0px);
        border-radius: 50%;
        background: #e45028;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: width .3s, height .3s;
    }
}

.order__radio-elem:checked {
    &+.order__radio-fake {
        &:after {
            width: rem(8px);
            height: rem(8px);
        }
    }
}

.order__radio-title {
    font-size: rem(14px);
    color: #fff;
    margin-left: rem(10px);
}

.order__radio_checkbox {
    .order__radio-fake {
        border-radius: rem(0px);
    }
    .order__radio-elem {
        &+.order__radio-fake {
            &:after {
                background: transparent;
            }
        }
    }
    .order__radio-elem:checked {
        &+.order__radio-fake {
            &:after {
                background: url("../img/check.svg") center center no-repeat;
                background-size: contain;
                width: rem(12px);
                height: rem(10px);
                content: "";
                display: block;
                position: absolute;
            }
        }
    }
}

.order__form-button {
    margin-right: rem(20px);
    border: 0;
    background: #e45028;
    font-size: rem(13px);
    text-transform: uppercase;
    border-radius: rem(5px);
    color: #ffffff;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    padding: rem(10px) rem(15px);
    cursor: pointer;
}

.order__form-button_reset {
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    background: transparent;
}

.order__form-buttons {
    padding: 0 5%;
    @include phones {
        justify-content: center;
    }
}

#send {
    align-content: center;
    display: flex;
}

.send__text {
    font-size: rem(14px);
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: rem(20px);
    display: block;
}

.send__button {
    display: flex;
    justify-content: center;
}

.order-link--send {
    padding: rem(10px) rem(19px);
    width: rem(95px);
}

.full-review__close {
    align-self: right;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    font-size: 0;
    margin-top: rem(10px);
    margin-right: rem(5px);
    display: flex;
    align-items: right;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: -3px;
        width: 18px;
        height: 3px;
        background-color: #ec8468;
        border-radius: 3px;
        transform: rotate(45deg);
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: -3px;
        width: 18px;
        height: 3px;
        background-color: #ec8468;
        border-radius: 3px;
        transform: rotate(-45deg);
        color: initial;
        font-weight: 300;
        text-align: initial;
        border-width: initial;
    }
}

.fancybox-close-small:hover:after {
    background-color: #ec8468;
}