.reviews__container {
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

.review {
	width:25%;
	height:50vh;
	overflow: hidden;
	position: relative;

	&:hover {
		.reviews__wrap {
			opacity: 1;
		}
	}
}

.review__more {
	display: block;
}

.review__img {
	position: absolute;
	display: block;
	width: 100%;
}

.reviews__wrap {
	opacity: 0;
    padding: 41px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(14, 14, 14, 0.7);
    transition: opacity .5s ease-out;
}

.review__name {
	font-size: 14px;
	line-height: 28px;
	font-family: 'Gagalin', Arial, Helvetica, sans-serif;
	color: #fff;
}

.review__desc {
	font-size: 14px;
	line-height: 24px;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #fff;
}

.review__more {
	width: 111px;
	height: 35px;
	background-color: #2f3234;
	font-size: 13px;
	line-height: 30px;
	text-transform: uppercase;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 3px 15px;
    transition: background-color .2s ease-out;

    &:hover {
    	background-color: #1f2122;
    }
}

