.team {
    height: 100vh;
    background: url(../img/bg/team.png);
    background-size: cover;
    position: relative;
}

.team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(49, 52, 54, .93);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include tablets {
        width: 100%;
    }
}

.team__content {
    margin-left: rem(80px);
    @include tablets {
        margin-left: 0;
    }
}

.team__title {
    color: #f9b43b;
    font-family: 'Gagalin', Arial, Helvetica, sans-serif;
    font-size: rem(72px);
    line-height: rem(64px);
    @include tablets {
        text-align: center;
    }
}

.team__item {
    @include tablets {
        text-align: center;
    }
}

.team__name {
    color: white;
    font-family: 'Gagalin', Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    line-height: rem(28px);
    text-transform: uppercase;
    padding-left: rem(20px);
    cursor: pointer;
    position: relative;
    margin-bottom: rem(5px);
    display: flex;
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: rem(12px);
        left: rem(1px);
        border: rem(5px) solid transparent;
        border-width: rem(5px) rem(5px) rem(5px) rem(5px);
        border-top-color: #f9b43b;
    }
    @include tablets {
        margin: 0 35%;
        font-size: rem(22px);
        line-height: rem(29px);
    }
}

.team__about {
    margin-left: rem(20px);
}

.team__occupation {
    color: white;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: rem(14px);
    line-height: rem(24px);
    @include tablets {
        width: 100%;
    }
}

.team__text {
    color: white;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: rem(14px);
    line-height: rem(24px);
    @include tablets {
        width: 100%;
    }
}

.team__avatar {
    background: url(../img/aphex.png);
    min-height: rem(100px);
    min-width: rem(100px);
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    @include tablets {}
}

.team__description {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    width: rem(350px);
    transition: 1s;
    margin-top: rem(15px);
    height: 0;
    @include tablets {
        flex-direction: column;
        width: initial;
    }
}

.team__item--active .team__description {
    height: 100%;
    align-items: center;
}

.team__item--active .team__name {
    color: #f9b43b;
    @include tablets {
        align-items: center;
        margin: 0 35%;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: rem(6px);
        border: rem(5px) solid transparent;
        border-width: rem(5px) rem(5px) rem(5px) rem(5px);
        border-bottom-color: #f9b43b;
    }
}